@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#lampada h1 {
    font-size: 3em;
    margin: 40px;
}

#lampada img {
    width: 60%;
    height: auto;
}

#botoes button {
    width: 90px;
    padding: 5px;
    font-size: 1em;
}