@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, #9984D4, #230C33);
}

div#calc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 550px;
    height: 380px;
    background-color: #592E83;
    border-radius: 15px;
}

div#calc > span#titulo{
    padding: 10px;
    font-size: 25px;
    font-weight: bolder;
    color: #ECEBE4;
}

div#calcula {
    background-color: #ceaafd93 ;
    width: 550px;
    height: 350px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ECEBE4;
}

div#calcula p{
    margin: 8px;
}

div#calcula p#peso{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div#calcula p#altura{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div#calcula p#verifica{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div#calcula span {
    margin-left: 5px;
    padding: 0px;
    font-size: 12px;
    align-self: self-start;
}

div#calcula input {
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    border-color: transparent;
    background-color: #7439c2b6;
    color: #ECEBE4;
    cursor: pointer;
    width: 250px;
}

input:focus{
    outline: none;
    border-width: 3px;
}

div#calcula input#botao{
    width: 275px;
    color: #ECEBE4;
    background-color: #762adac7;
}

div#calcula input::placeholder{
    color: #ECEBE4;
    text-align: right;
}

