@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(to right, rgb(207, 50, 50), rgb(105, 1, 105));
}

h1 {
    font-size: 25px;
    color: white;
}

div#tasks-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#tasks-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form#add-task-form {
    margin: 25px;
    display: flex;
}

button#add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    border-width: 1px;
    width: 50px;
    font-size: 1.5em;
    font-weight: lighter;
}

button#add-btn ion-icon {
    width: 30px;
}

input#task-title {
    width: 400px;
    height: 30px;
    padding: 5px;
}

input#task-title:focus {
    outline: none;
}

input#task-title::placeholder{
    font-size: 15px;
    padding-left: 5px;
}

div#tasks-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div#tasks-list-container h1{
    margin-bottom: 15px;
}

ul#task-list ion-icon {
    position: absolute;
    width: 30px;
    height: 40px;
    cursor: pointer;
    
}

li.task-box {
    display: flex;
    align-items: center;
    width: 445px;
    margin: 15px;
    padding: 10px;
    list-style: none;
    background-color: white;
}