@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
}

body {
    background: linear-gradient(to right, rgb(207, 50, 50), rgb(105, 1, 105));
}

h1 {
    font-size: 25px;
    color: white;
}

div#tasks-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#tasks-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form#add-task-form {
    margin: 25px;
    display: flex;
}

button#add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    border-width: 1px;
    width: 50px;
    transition: .5s;
}

button#add-btn:hover {
    background-color: rgb(87, 1, 87);
    color: white;
}

ion-icon {
    font-size: 25px;
}

button#add-btn ion-icon {
    width: 30px;
}

input#task-title {
    width: 400px;
    height: 30px;
    padding: 5px;
    padding-left: 15px;
    border: 1px solid black;
}

input#task-title:focus {
    outline: none; /*Tira o efeito da borda ao clicar*/
}

input#task-title::placeholder{
    font-size: 15px;
}

div#tasks-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div#tasks-list-container h1{
    margin-bottom: 15px;
}

ul#task-list li {
    position: relative; /*Vai servir para deixar os icones em posição absoluta e poder controlar eles mais livremente*/
    border: 1px solid black;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.404);
    height: 45px;
    line-height: 45px; /*Tem que ser igual o height para deixar os itens no centro*/
    width: 455px;
    list-style: none;
    background-color: white;
    padding-left: 15px;
    margin-bottom: 10px;
}

ul#task-list ion-icon {
    position: absolute;
    top: 0; /*Serve para colar no top e controlar livremente*/
    width: 30px;
    height: 35px;
    cursor: pointer;
    transition: .5s;
    font-weight: bold;
    padding: 5px;
}

.done-btn {
    right: 40px; /*Movimenta o icone done 40px da ponta da direita para a esquerda*/
} 

.remove-btn {
    right: 0px; /*Cola o icone remove na ponta da caixa na direita*/
}

.done-btn:hover {
    color: white;
    background-color: rgb(20, 206, 20);
}

.remove-btn:hover {
    color: white;
    background-color: rgb(255, 48, 48);
}

.hide {
    display: none;
}

#task-list li.done {
    background-color: rgb(87, 1, 87);
    color: white;
    text-decoration: line-through; /*Deixa o texto com uma linha no meio, como se estivesse riscado*/
}